h1,
h2,
h3,
p,
span {
  font-family: "Barlow";
}

h1 {
  font-size: 34px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.575);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 400px) {
  .bg-filter {
    height: auto;
  }
}

.bg-banner {
  background: url(../../dist/img/banner-o-centro.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}

@media (max-width: 400px) {
  .bg-banner {
    height: auto;
    background-position: center;
  }
}

.text-banner {
  max-width: 650px;
  margin: 0 auto;
  color: #fff;
}

.menu-desktop a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.menu-desktop a:last-child {
  height: 50px;
  background-color: #f89b1c;
  border-radius: 30px;
  padding: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  transition: 0.3s;
}

.menu-desktop a:last-child:hover {
  color: #fff;
  background-color: rgba(248, 156, 28, 0.644);
}

.menu-desktop a:hover {
  color: #8d8989e0;
}

.centro-sobre {
  img {
    height: 358px;
  }

  @media (max-width: 500px) {
    img {
      height: 200px;
      // display: flex;
      // justify-content: center;
    }
    .img-sobre {
      width: 100%;
    }
  }
}

.hand span {
  padding-right: 10px;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  color: #f89b1c;
}

.bg-contato {
  background-color: #f89b1c;
}

.button-sobre {
  height: 55px;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  margin: 0 auto;
}

.button1 {
  background-color: #fff;
  text-decoration: none;
  color: #14e214;
  font-weight: bold;
}

.button-sobre:hover {
  text-decoration: none;
  color: #000000;
  background-color: #0000003b;
}

.bg-black {
  background-color: #000000;
}

.gallery {
  .owl-item {
    margin: 1rem 0;

    a {
      display: flex;
      height: 229px !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      width: 100% !important;
    }

    &:nth-child(1) {
      a {
        background: url(../img/gallery-1.jpg) center center;
      }
    }

    &:nth-child(2) {
      a {
        background: url(../img/gallery-6.jpg) center center;
      }
    }

    &:nth-child(3) {
      a {
        background: url(../img/gallery-3.jpg) center center;
      }
    }

    &:nth-child(4) {
      a {
        background: url(../img/gallery-4.jpg) center center;
      }
    }

    &:nth-child(5) {
      a {
        background: url(../img/gallery-5.jpg) center center;
      }
    }

    &:nth-child(6) {
      a {
        background: url(../img/gallery-2.jpg) center center;
      }
    }
    &:nth-child(7) {
      a {
        background: url(../img/mariano-atual.jpeg) center center;
      }
    }
  }
}
