/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css?family=Barlow:400,600,700&display=swap");

.text-warning {
  color: #f89b1c !important;
}

body {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.w-600 {
  width: 600px;
}

small {
  font-size: 12px;
  font-weight: 600;
}

.margin-center {
  margin: 0 auto;
}

.full-banner {
  background: url(../../dist/img/header-contato.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  box-sizing: content-box;
}

@media (max-width: 748px) {
  .full-banner {
    background-position-x: -180px;
  }
}

.bg-caption {
  position: relative;
  color: #fff;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 0;
  background-color: rgba(0, 0, 0, 0.562);
}

.spacer {
  height: 7.5rem;
}

.estilo-contato {
  height: 15rem;
  width: 15rem;
  background-color: #f89b1c;
  position: absolute;
  color: #fff;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detalhe-estilo {
  border: 2.5px solid #000000;
  width: 30%;
}
.link-contato {
  color: black;
  display: inline-block;
  font-size: 16px;
  // margin-bottom: 15px;
  line-height: 26px;
  font-weight: 500;
  &:hover {
    color: $orange;
  }
}
.form-input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px #757474;
}

/* @media (min-width: 600px)  {
  .form-input {
    width: 500px;
  }
} */

textarea:focus,
.form-input:focus {
  outline: 0;
}

.form-input::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
  color: #f89b1c !important;
  font-family: "Barlow";
  font-weight: 500;
}

/* Customize the label (the container) */
.container-label {
  // display: block;
  position: relative;
  padding-left: 60px;
  font-size: 16px;
  line-height: 26px;
  color: #757474;
  font-family: "Barlow";
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  // max-width: 500px;
}

/* Hide the browser's default radio button */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1.5px #f89b1c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-label .checkmark:after {
  top: 6.5px;
  left: 6.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
}

.submit-input {
  width: 350px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 25px;
  background-color: #f89b1c;
  border: none;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 3px 4px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 19px -6px rgba(0, 0, 0, 0.75);
}
