

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,700&display=swap');

.text-warning {
  color: #f89b1c !important;
}

body {
  font-family: 'Barlow', sans-serif;
}


h1 {
  font-size: 34px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 26px;

  font-family: "Barlow";
  font-weight: 500;

}

.bg-dicas {
  background: url(../../dist/img/mariano-atual.jpeg) no-repeat;
  background-position-x: -200px;
  background-size: cover;
  height: 500px;
}

@media (min-width: 600px) {
  .bg-dicas {
    background-position-x: 0px;
  }
}

.caption {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.486);
}

@media (min-width: 500px) {
  .caption h1 {
    font-size: 50px;
  }

  .caption p {
    font-size: 25px;
  }
}

.search-bar input {
  max-width: 400px;
  padding: 15px;
  border-radius: 30px;
  border: solid 2px #000;
  font-size: 16px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #757474;
  font-family: "Barlow";
  font-weight: 600;
}

@media (min-width: 600px) {
  .search-bar input::placeholder {
    text-transform: uppercase;
  }
}

.search-bar i {
  position: relative;
  left: 280px;
  top: -38px;
  color: #f89b1c;
  font-size: 25px;
}

.btn-drop {
  font-size: 20px;
  font-family: "Barlow";
  font-weight: 600;
  color: #f89b1c;
  background-color: transparent;
  border: none;
}

.btn-drop span {
  color: #000;
}

.drop-tag {
  left: -30px
}

.categoria-item {
  font-size: 20px;
  padding: 5px 20px;
  color: #f89b1c;
  transition: 0.5s ease;
  text-transform: capitalize;
  width: fit-content;
}

.categoria-item:hover {
  text-decoration: none;
}

.tag-item {
  background-color: #f89b1c;
  border-radius: 35px;
  padding: 20px 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s ease;
  text-transform: uppercase;
  margin: 5px 5px;
}

.tag-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #f89c1c9a;
}


.dica-img {
  position:relative;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media(max-width: 500px) {
  .dica-img {
    background-size: cover;
    height: 200px;
  }
}

.dica-item  {
  color: #747474;
  h2{
    color:black;
    margin-top:16px;
    margin-bottom: 16px;
  }
}

.dica-item:hover {
  text-decoration: none;
  // cursor: pointer;
  color: #747474;
}


.item-caption {
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 25px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .item-caption {
    left: -80px;
    bottom: 40px;
    font-size: 12px;
  }
}

.tag-position {
  position: relative;
  bottom: -10px;
  left: 10px;
  max-width: fit-content;
}

@media (max-width: 500px) {
  .tag-position {
    display: none;
  }
}

.detalhe-dica {
  height: 2px;
  width: 98%;
  background-color: #000;
  margin: 30px auto;
}

.btn-load {
  background: black;
  border-radius: 35px;
  padding: 10px;
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Barlow";
  font-weight: 500;
  transition: 0.5s ease;
}

.btn-load:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.705);
}

.lmb-container {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,700&display=swap');

.text-warning {
  color: #f89b1c !important;
}

body,
h3,
p,
span,
a {
  font-family: 'Barlow', sans-serif;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

@media (min-width: 500px) {
  .titulo {
    font-size: 48px;
    width: 500px;
    margin: 0 auto;
    line-height: 55px;
  }
}

p {
  font-size: 18px;
  line-height: 26px;

  font-weight: 500;

}

@media (min-width: 500px) {
  .responsive-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}


.text-data {
  font-size: 14px;
  letter-spacing: 1px;
  color: #757474;
  font-weight: 600;
}

.text-dica {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 600;
}

.dica-conteudo p {
  text-align: center;
  padding-bottom: 25px;
}

@media (min-width: 500px) {
  .dica-conteudo p {
    text-align: left;
  }
}

.icon a:hover {
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







