.marcas p {
  font-weight: 600 !important;
}

.ase-logo {
  height: 70px;
}

.bg-footer {
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: white;
  &:hover {
    color: $orange;
  }
}

@media (max-width: 500px) {
  .bg-footer {
    background-color: black;
  }
}
