.bg-frotas {
  background: url(../../dist/img/banner-frota.png) no-repeat;
  background-size: cover;
  background-position-y: -100px;
  height: 500px;
}

@media (min-width: 600px) {
  .bg-frotas {
    background-position-x: 0px;
  }
}

.text-frota {
  font-size: 14px;
  // letter-spacing: 1px;
  color: #f89b1c !important;
}

button:focus {
  outline: none;
}

.select-frotas {
  border: none;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  color: #f89b1c !important;
  font-family: "Barlow";
  font-weight: 500;
  padding-left: 0px;
}
