nav {
  .navbar-toggler {
    background: url(../img/hamburguer.png) center center no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    text-decoration: none !important;
  }

  ul {
    li {
      margin: 0.7rem 0;

      a {
        color: $grey;
        margin: 0 0.5rem;
        &:hover {
          color: $orange;
        }
      }

      &:last-child() {
        background: $orange;
        color: #fff;
        @extend .rounded-pill;

        a {
          color: #fff;
          padding: 1rem !important;
        }
      }
    }
  }
}
.menu-fixo {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: white;
}

.menu-button {
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
