.owl-planos {
  .card-body {
    height: 391px;
    min-width: 316px;
    border-radius: 0;
    background-size: cover !important;
    padding: 0;

    &:nth-child(1) {
      background: url(../img/card-revisao.png) center center no-repeat;
    }

    .box {
      width: 100%;
      height: 100%;
      padding: 3rem 2rem;
      text-align: left;
      margin: 0 auto;
      font-size: 22px;

      display: flex;
      flex-wrap: wrap;

      &:hover {
        background: rgb(248, 155, 28);
        background: linear-gradient(
          0deg,
          rgba(248, 155, 28, 0.9066001400560224) 0%,
          rgba(248, 155, 28, 0.592874649859944) 50%,
          rgba(248, 155, 28, 0) 100%
        );

        .detail {
          background: #fff;
        }

        .number {
          color: #fff;
        }
      }
    }

    .detail {
      width: 62px;
      height: 3px;
      background: $orange;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .card {
      width: 100% !important;
    }

    .card-body .box {
      font-size: 34px;
      padding: 2rem 2rem;

      .number {
        font-size: 19px;
      }
    }
  }
}

.sobre-nos {
  .foto-interna {
    height: 300px;
    width: 100%;
    background: url(../img/mariano-atual.jpeg) center center no-repeat;
    background-size: cover;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    height: 480px !important;

    .foto-interna {
      height: 100%;
      right: 0;
      width: 40%;
    }
  }
}

.bg-gray {
  background-color: #f5f5f5;
}

.manutencao-preventiva {
  background: #f5f5f5;
  @media (min-width: map-get($grid-breakpoints, md)) {
    background: white;
  }
}
@media (min-width: map-get($grid-breakpoints, md)) {
  .car-texto {
    width: 664px;
    margin: 0 auto;
  }
}

.dicas {
  .img-post {
    height: 289px;
    background-size: cover !important;
  }

  .item {
    padding: 0;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .item {
      padding: 0px 15px;
    }
  }
}

.bateria {
  padding: 35px 0px;
  img {
    height: 250px;
    // // position: absolute;
    // bottom: -150px;
    // left: 100px;
  }

  @media (max-width: 500px) {
    img {
      position: static;
    }
  }
}
