.bg-promoçoes {
  background: url(../../dist/img/banner-promo.png) no-repeat;
  background-size: cover;
  // background-position-y: -150px;
  height: 500px;
}

@media (min-width: 600px) {
  .bg-promoçoes {
    background-position-x: 0px;
  }
}
