.banner-servicos {
  height: 375px;
  background: url(../img/banner-servico.png) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  .conteudo {
    z-index: 2;
    background: none;
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    height: 500px;
  }
}
.accordion {
  .accordion-toggle {
    width: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    outline: 0;
    padding: 20px 40px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      @extend .color-yellow;
    }
  }
  .accordion-menu {
    color: $orange;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    ol {
      li {
        padding: 5px;
        a {
          color: black;
        }
      }
    }
  }
}
.servico-list {
  margin: 0;
  .servico-item {
    background: center center no-repeat;
    background-size: cover;
    position: relative;
    height: 390px;
    padding: 0;
    a {
      padding: 55px 44px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
      color: white;
      hr {
        border: 1px solid;
        border-color: $orange;
        max-width: 72px;
        margin: 0;
      }
      &:hover {
        background: linear-gradient(
          rgba(0, 0, 0, 0.34),
          rgba(248, 155, 28, 0.22),
          rgba(248, 155, 28, 0.86),
          rgba(248, 155, 28, 1)
        );
        // background-color:transparent;
        text-decoration: none;
        .color-yellow {
          color: white;
        }
        hr {
          border-color: white;
        }
      }
    }
  }
}
.manutencao {
  span {
    font-size: 14px;
  }
}
.motivos {
  padding-top: 25px;
  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    border-top: 2px solid #757474;
  }
}
.novidade-caixa {
  padding: 35px 0;
 
  @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    .box-mariano {
      position: absolute;
      top: -200px;
      left: 150px;
    }
  }
}

.btn-amarelo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $orange;
  color: white;
  border-radius: 30px;
  margin: 15px auto;
  width: 242px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
}
