@import "animate";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Barlow:500,700&display=swap");
body {
  font-family: "Barlow", sans-serif;
}

$grey: #323a41;
$orange: #f89b1c;
$lgrey: #89929a;
$llgrey: #d3dbe2;
$color-text: #757474;
img {
  @extend .img-fluid;
}
.color-text {
  color: $color-text;
}

a {
  text-decoration: none !important;
  outline: none !important;
}
.card {
  cursor: pointer;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  h2 {
    font-size: 36px !important;
  }
}

h2 {
  font-weight: 500 !important;
}
.bg-cinza {
  background: $grey;
}
.bg-orange {
  background: $orange;
}
.color-yellow {
  color: $orange;
}
body {
  font-family: "Barlow";
}

.color-orange {
  color: $orange !important;
}

.color-lgrey {
  color: $lgrey;
}
.linkblog {
  color: $lgrey;
  &:hover {
    color: $orange;
  }
}
.selo {
}
#materiaNav,
#dicasNav {
  text-align: center;
  margin: 1.5rem 0;

  button {
    outline: none;
    border: 0;
    background: none;

    i {
      background: $orange;
      border-radius: 100%;
      padding: 1rem;
      color: #fff;
    }

    &.disabled {
      i {
        background: #cbcbcb;
      }
    }
  }
}

#materiaDots {
  display: flex;
  justify-content: start;
  align-items: center;

  button {
    outline: none;
    border: 0;

    background: #cbcbcb;
    border-radius: 100%;
    padding: 0.2rem;
    margin: 0 0.4rem;
    color: #fff;

    &.active {
      background: $orange;
    }
  }
}

.btn-orange {
  background: $orange;
  padding: 1rem 4rem;
  @extend .rounded-pill;
  color: #fff;

  &:hover {
    opacity: 0.7;
    color: #fff;
  }
}

.bg-fff {
  background: #fff !important;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .position-md-absolute {
    position: absolute;
  }
}

@import "blog", "centro", "contato", "footer", "header", "servicos",
  "owl-carousel", "owl-carousel-theme", "home", "dicas", "lightbox", "promos",
  "frotas-e-locadoras";
